# Gradle
.gradle/
build/

# Eclipse
.project
.classpath
.settings/
bin/

# IntelliJ
.idea
*.ipr
*.iml
*.iws

# NetBeans
nb-configuration.xml

# Visual Studio Code
.vscode
.factorypath

# OSX
.DS_Store

# Vim
*.swp
*.swo

# patch
*.orig
*.rej

# Local environment
.env

# simpleMQ Database
simplemq.db
simplemq.db-journal
simplemq.db-shm
simplemq.db-wal

# Raft Data
raft-data/
raft-data-*/

# Test logs/output
test_output.txt

# Plugin directory
/.quarkus/cli/plugins/
# TLS Certificates
.certs/
